/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: Montserrat;
    background-image: url(../max/max.png);
    background-size: 100vh;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    width: 300px;
    height: 100px;
    border-radius: 50em;
    font-size: 30px;
    font-weight: 700;
    box-shadow: 0px 0px 10px 1px;
    background-color: rgb(99, 27, 105);
}

.heh {
    color: #FFF;
}

._container {
    max-width: 1046px;
    margin: 0px auto;
}
